*{
    margin: 0;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
}

header{
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
}
.body{
    background-color: beige;
    
}

.article-container {
    display: flex;
}

article{
    display: grid;
    flex-direction: column;
    width: 35rem;
    height: 40rem;
    border: 1px solid black;
    border-radius: 1.5%;
    background-color: blueviolet;
    grid-template-columns: repeat(3 1fr);
    text-align: center;
    
}

img {
    margin-left: 15%;
    width: 400px;
    height: 400px;
    box-sizing: border-box;

}



